body{
	 background:#87e6eb;
}

.login_form{
    background:linear-gradient(skyblue,white);
    border-style:groove;
    border-radius:100px;
    text-align:center;
    width: 500px;
    height: 300px;
    padding-top: 30px;
    margin-left: 30%;
    margin-top: 100px;
    padding-bottom:40px;
}
.login_form input{
	background:linear-gradient(skyblue,white);
	width:300px;
	text-align:center;
	border-style:groove;
	border-radius:100px;
	height:30px;
	font-weight:bold;
}

.login_form span{
	color:red;
	font-weight:bold;
}

.login_form button{
	background:linear-gradient(skyblue,white);
	width:300px;
	height:30px;
	text-align:center;
	border-style:groove;
	border-radius:100px;
	font-weight:bold;
}
.signup_form{
    background-color: blue;
    border: 3px solid;
    display: inline-block;
    text-align: center;
    margin-left: 40%;
    margin-top: 3%;
}

.forgetPassword_form{
    background-color: blue;
    border: 3px solid;
    display: inline-block;
    text-align: center;
    margin-left: 40%;
    margin-top: 3%;
}

.studentModule{
    background-color: blue;
    border: 3px solid;
    display: inline-block;
    text-align: center;
    margin-left: 40%;
    margin-top: 3%;
}

.classModule{
    background-color: blue;
    border: 3px solid;
    display: inline-block;
    text-align: center;
    margin-left: 40%;
    margin-top: 3%;
}

.subjectModule{
    background-color: blue;
    border: 3px solid;
    display: inline-block;
    text-align: center;
    margin-left: 40%;
    margin-top: 3%;
}

.teacherModule{
    background-color: blue;
    border: 3px solid;
    display: inline-block;
    text-align: center;
    margin-left: 40%;
    margin-top: 3%;
}

.modulesTable{
}
