body{
	 background:#87e6eb;
}

.classesDiv{
	background:linear-gradient(skyblue,white);
    border-style:groove;
    border-radius:100px;	
	width :300px;
	height : 160px;
	text-align :center;
	margin:20px;
	display:inline-block;
	padding-top : 100px;
}

.classesDiv a{
	text-decoration:none;
	text-transform:uppercase;
	font-size:35px;
	color:#5d12e7;
	line-height : 30px;
	transition:font-size 0.2s ease;
	-webkit-transition:font-size 0.2s ease;
	-moz-transition:font-size 0.2s ease;
	-o-transition:font-size 0.2s ease;
	-ms-transition:font-size 0.2s ease;
}

.classesDiv a:hover{
	font-size:45px;
	font-weight:bold;
	color:#B314DB;
}


.login_form{
    background:linear-gradient(skyblue,white);
    border-style:groove;
    border-radius:100px;
    text-align:center;
    width: 500px;
    height: 300px;
    padding-top: 30px;
    margin-left: 30%;
    margin-top: 100px;
    padding-bottom:40px;
}
.login_form input{
	background:linear-gradient(skyblue,white);
	width:300px;
	text-align:center;
	border-style:groove;
	border-radius:100px;
	height:30px;
	font-weight:bold;
}

#dashboard_nav {
	height : 70px;
	background:linear-gradient(skyblue,white);
	padding: 7px 0;
}
#dashboard_nav ul{
	list-style : none;
}

#dashboard_nav ul li{
	float : left;
	padding: 0 30px;
	height : 30px;
	border-right : 1px solid  #5d12e7;
}

#dashboard_nav ul li:last-child{
	border-right:none;
}

#dashboard_nav ul li a{
	text-decoration:none;
	text-transform:uppercase;
	font-size:17px;
	color:#5d12e7;
	line-height : 30px;
	transition:font-size 0.2s ease;
	-webkit-transition:font-size 0.2s ease;
	-moz-transition:font-size 0.2s ease;
	-o-transition:font-size 0.2s ease;
	-ms-transition:font-size 0.2s ease;
}

#dashboard_nav ul li a:hover{
	font-size:20px;
	font-weight:bold;
	color:#B314DB;
}

.login_form span{
	color:red;
	font-weight:bold;
}

.login_form button{
	background:linear-gradient(skyblue,white);
	width:300px;
	height:30px;
	text-align:center;
	border-style:groove;
	border-radius:100px;
	font-weight:bold;
}
.signup_form{
   	background:linear-gradient(skyblue,white);
    border-style:groove;
    border-radius:100px;
    text-align:center;
    width: 500px;
    height: 200px;
    padding-top: 30px;
    margin-left: 30%;
    margin-top: 100px;
    padding-bottom:40px;
}

.signup_form input{
	background:linear-gradient(skyblue,white);
	width:300px;
	text-align:center;
	border-style:groove;
	border-radius:100px;
	height:30px;
	font-weight:bold;
}

.signup_form button{
	background:linear-gradient(skyblue,white);
	width:300px;
	height:30px;
	text-align:center;
	border-style:groove;
	border-radius:100px;
	font-weight:bold;
}
.forgetPassword_form{
    background:linear-gradient(skyblue,white);
    border-style:groove;
    border-radius:100px;
    text-align:center;
    width: 500px;
    height: 200px;
    padding-top: 30px;
    margin-left: 30%;
    margin-top: 100px;
    padding-bottom:40px;
}


.forgetPassword_form input{
	background:linear-gradient(skyblue,white);
	width:300px;
	text-align:center;
	border-style:groove;
	border-radius:100px;
	height:30px;
	font-weight:bold;
}

.forgetPassword_form button{
	background:linear-gradient(skyblue,white);
	width:300px;
	height:30px;
	text-align:center;
	border-style:groove;
	border-radius:100px;
	font-weight:bold;
}


.studentModule{
    background-color: blue;
    border: 3px solid;
    display: inline-block;
    text-align: center;
    margin-left: 40%;
    margin-top: 3%;
}

.classModule{
    background-color: blue;
    border: 3px solid;
    display: inline-block;
    text-align: center;
    margin-left: 40%;
    margin-top: 3%;
}

.subjectModule{
    background-color: blue;
    border: 3px solid;
    display: inline-block;
    text-align: center;
    margin-left: 40%;
    margin-top: 3%;
}

.teacherModule{
    background-color: blue;
    border: 3px solid;
    display: inline-block;
    text-align: center;
    margin-left: 40%;
    margin-top: 3%;
}

.modulesTable{
}
